@import './variables.css';
@import './fonts.css';
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: var(--color-text);
}
.muted {
  opacity: 0.5;
}
button {
  outline: none;
  border: none;
}
button:active,
button:focus {
  background-color: transparent;
  opacity: 1;
  user-select: none;
}
.button-tab span {
  padding: 0 0.3125rem;
  margin-left: 0.25rem;
  font-weight: 700;
  border-radius: 50px;
  background-color: var(--color-mute);
}
body {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-sans);
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  height: 100dvh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding-top: var(--tg-safe-area-inset-top);

  padding-left: var(--tg-safe-area-inset-left);
  padding-right: var(--tg-safe-area-inset-right);
  box-sizing: border-box;
}
section {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100dvw;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 30rem;
}
/* Header */
.header {
  margin-top: 3rem;
  margin-bottom: 1rem;
  /* background-color: var(--background-elements-darker); */
  height: fit-content;
  /* border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1); */
  /* padding: 1rem; */
  width: 100%;
  border-radius: 0.75rem;
}
.text-head {
  font-size: 1.5rem;
  line-height: 125%;
  font-weight: 700;
}

.text-head span {
  font-size: 3rem;
  font-weight: 700;
}
.header__filter-list {
  margin-top: 1.125rem;
  overflow-x: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header__info {
  display: flex;
  gap: 0.75rem;
}
.header-time-reload {
  font-weight: 400;
  font-size: 0.875rem;
  text-align: center;
  color: var(--grey);
  margin-left: auto;
  margin-right: 0.5rem;
}
.header__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* User styles */
.user__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: var(--color-text);
}
.user__status {
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  width: fit-content;
}
.user__status--inwork {
  background-color: var(--success-bg);
  color: var(--green);
}
.user__status--free {
  background-color: var(--yellow-bg);
  color: var(--yellow);
}
/* Task card */
.task-card {
  padding: 1rem;
  background-color: var(--background-elements);
  border-radius: 0.75rem;
  position: relative;
}
.task__info {
  color: var(--grey);
  margin: 0.375rem 0;
}
.task__type {
  margin-bottom: 0.75rem;
  color: var(--grey);
}
.active-task-card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.task-card__header {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
}
.task-card__id {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 1rem;
  color: var(--color-text);
}
.task-card__time {
  margin-left: auto;
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--grey);
}
.task-card__badge {
  white-space: nowrap;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  height: 1.6875rem;
  font-weight: 600;
}
/* Частичный возврат */
.task-card__badge--refund-partial {
  background: var(--warning-bg);
  color: var(--accent);
}

/* Полный возврат */
.task-card__badge--refund-full {
  background: var(--success-bg);
  color: var(--green);
}
/* Доставка */
.task-card__badge--delivery {
  background: var(--success-bg);
  color: var(--green);
}
/* Buttons */
.buttons-wrapper {
  margin-top: 0.75rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  padding-top: 1.25rem;
  padding-bottom: var(--tg-safe-area-inset-bottom);
  position: relative;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  background: var(--background-elements-darker);
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
/* В аренду */
.task-card__badge--pickup {
  background: var(--info-bg);
  color: var(--blue);
}
/* Card */
.card__items-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-wrapper {
  padding: 1rem;
  background-color: var(--background-elements);
  border-radius: 0.75rem;
  position: relative;
}
.card__title {
  font-size: 1.125rem;
  font-weight: 600;
}
.card-block {
  display: flex;
  justify-content: space-between;
}
.card__price {
  color: var(--grey);
  font-size: 1.125rem;
}
.card__item {
  padding: 0.625rem;
  background-color: var(--background);
  border-radius: 0.625rem;
}
.card__item-info {
  display: flex;
  gap: 0.625rem;
}
.item__img {
  width: 3.625rem;
  height: 3.625rem;
  border-radius: 0.5rem;
  background-color: var(--color-mute);
  font-size: 0.625rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.5;
}
.item__title {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.task-card__btns {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.task-card__body {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.task-card__info-badges {
  flex-wrap: wrap;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.task-badge {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: fit-content;
}
.task-badge--phone {
  background-color: var(--yellow-bg);
  color: var(--yellow);
}
.task-badge--complect {
  background-color: var(--info-bg);
  color: var(--blue);
}

.menu-wrapper {
  margin-top: auto;
}

/* task list */
.tasks-list {
  overflow-y: auto;
  margin-top: 0.75rem;
  flex: 1 1 auto;
  height: 50dvh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tasks-list__items::-webkit-scrollbar,
.header__filter-list::-webkit-scrollbar {
  display: none;
}
.tasks-list__title {
  font-size: clamp(1rem, 0.7rem + 0.25vw, 1.25rem);
  color: var(--grey);
  margin-bottom: 0.25rem;
}

.tasks-list__items {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
