/* Colors */
:root {
  --accent: #38e1c2;
  --background: #080808;
  --background-elements: #2d2d2d;
  --background-elements-darker: #0e0e0e;
  --green: #16a34a;
  --blue: #409cf5;
  --yellow: #ffd900;
  --grey: #b3b3b3;
  --btn-grey: #464646;
  --white: #fff;
  --color-mute: rgba(255, 255, 255, 0.3);
  --animate-delay: 0.5s !important;
}
:root {
  --font-sans: 'Proxima Nova', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
:root {
  --warning-bg: rgba(255, 119, 0, 0.1); /* частичный возврат */
  --success-bg: rgba(22, 163, 74, 0.1); /* полный возврат */
  --info-bg: rgba(64, 156, 245, 0.1); /* доставка / завоз */
  --yellow-bg: rgba(255, 217, 0, 0.1);

  --color-background: var(--background);
  --color-background-mute: var();

  --color-border: var(--color-mute);
  --color-border-hover: var();

  --color-heading: var();
  --color-text: var(--white);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */
